.spinner {
  width: 20px;
  height: 20px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid var(--primary-main, #6C5B7B); 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto; /* center horizontally */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
